[submodule "part11/full-stack-open-pokedex"]
	path = part11/full-stack-open-pokedex
	url = https://github.com/crunchydeer30/full-stack-open-pokedex
[submodule "part12/full-stack-open-containers"]
	path = part12/full-stack-open-containers
	url = https://github.com/crunchydeer30/full-stack-open-containers
